
  
  <!-- About Section -->
  <div class="head">
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About Us</h3>
    <p>We are proudly based in Melbourne, Australia, but our people and community live and work from all over the world.

        We believe good ideas deserve a chance to grow. We believe people deserve to earn a living doing what they love. We believe in making it easy to get things done.
    </p>
      <p>  It is a collection of themed marketplaces, where creatives sell digital assets to help bring your ideas to life. Buy anything from Photoshop actions and video footage to advanced WordPress themes and plugins. </p>
  </div>

  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://envato.com/static/media/smiling-man-at-desk.c332a045.jpg" alt="John" style="width:100%">
      <h3>John Doe</h3>
      <p class="w3-opacity">CEO & Founder</p>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
     
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://envato.com/static/media/girl-in-envato-shirt.cf0d6f85.jpg" alt="Jane" style="width:100%">
      <h3>Jane Doe</h3>
      <p class="w3-opacity">Manager</p>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
     
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://envato.com/static/media/man-at-whiteboard.92c4ef38.jpg" alt="Mike" style="width:100%">
      <h3>Mike Ross</h3>
      <p class="w3-opacity">Designer</p>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://cdn.psychologytoday.com/sites/default/files/styles/article-inline-half-caption/public/field_blog_entry_images/2018-09/shutterstock_648907024.jpg?itok=0hb44OrI" alt="Dan" style="width:100%">
      <h3>Dan Star</h3>
      <p class="w3-opacity">Developer</p>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <!-- <p><button class="w3-button w3-light-grey w3-block">Contact</button></p> -->
    </div>
  </div>
</div>
 