// .wrapper {    
// 	margin-top: 80px;
// 	margin-bottom: 20px;
// }

// .form-signin {
//   max-width: 420px;
//   padding: 30px 38px 66px;
//   margin: 0 auto;
//   background-color: #eee;
//   border: 3px dotted rgba(0,0,0,0.1);  
//   }

// .form-signin-heading {
//   text-align:center;
//   margin-bottom: 30px;
// }

// .form-control {
//   position: relative;
//   font-size: 16px;
//   height: auto;
//   padding: 10px;
// }

// input[type="text"] {
//   margin-bottom: 0px;
//   border-bottom-left-radius: 0;
//   border-bottom-right-radius: 0;
// }

// input[type="password"] {
//   margin-bottom: 20px;
//   border-top-left-radius: 0;
//   border-top-right-radius: 0;
// }

// .colorgraph {
//   height: 7px;
//   border-top: 0;
//   background: #c4e17f;
//   border-radius: 5px;
//   background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
//   background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
//   background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
//   background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
// }
    
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background: #456;
  font-family: 'Open Sans', sans-serif;
}

.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: blue;
}

.login-header {
  background: blue;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: blue;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: blue;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: blue;
}

.stl { 
  // margin-top:180px;
  // margin-left: 280px;
  // width: 20cm;
}

body {
  margin-top:-50px;
  background-image: url("https://www.twirlingumbrellas.com/wp-content/uploads/web-dev-devices-header.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
  height: 700px;

}
