
<!-- Navbar (sit on top) -->
<div class="w3-top">

  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
     <a  class="w3-bar-item w3-button"><b>THEME</b>  WORLD </a> 
    
      <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
    
      <!-- <a href="#projects" class="w3-bar-item w3-button">Home</a> -->
      <a href="#/about" class="w3-bar-item w3-button">About Us</a>
      <a href="#/contact" class="w3-bar-item w3-button">Contact </a>
      <a href="#/theme/list/OnlineNotes" class="w3-bar-item w3-button">Themes</a>
      <a href="#/theme/cart" ><span class="fa-stack fa-2x has-badge" data-count="5">
        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
        <i style ="" class="fa fa-shopping-cart fa-stack-2x red-cart"></i>
      </span></a>
      <a  class="w3-bar-item w3-button" (click)="logout()">Sign Out</a>
      


      <!-- <a href="#/theme/cart" ><i class="fa fa-shopping-cart" style="font-size:24px;color:black "></i></a> -->
      <!-- <a href="login" class="w3-bar-item w3-button">Sign In</a> -->
    </div>
  </div>
</div>
