<div class="stl">

    <body>
      <div align="center">
        <br><br><h2>Sign Up Here</h2><br>
      </div>
  
      <div class="row justify-content-center">

        <div style="width: 15cm;">
          <form class="form-container" [formGroup]="signupForm" (ngSubmit)="register()">
            <div class="container">
              <label for="inputfName">First Name</label>
              <input placeholder="first name" class="form-control" type="text" formControlName="fname" [ngClass]="{ 'is-invalid': submitted && myForm.fname.errors }" >

              <div class="validation-error" *ngIf="submitted && myForm.fname.errors?.required">
                Name is required.
              </div>
            </div>
            <div class="container">
              <label for="inputlName">Last Name</label>
              <input placeholder="last name" class="form-control" type="text" formControlName="lname" [ngClass]="{ 'is-invalid': submitted && myForm.lname.errors }" >

              <div class="invalid-feedback" *ngIf="submitted && myForm.lname.errors?.required">
                Name is required.
              </div>
            </div>
            <div class="container">
              <label for="inputlName">Username</label>
              <input placeholder="username" class="form-control" type="text" formControlName="username" [ngClass]="{ 'is-invalid': submitted && myForm.username.errors }" >

              <div class="invalid-feedback" *ngIf="submitted && myForm.username.errors?.required">
                Name is required.
              </div>
            </div>
            <div class="container">
              <label for="inputlName">Password</label>
              <input placeholder="password" class="form-control" type="text" formControlName="password" [ngClass]="{ 'is-invalid': submitted && myForm.password.errors }" >
 
              <div class="invalid-feedback" *ngIf="submitted && myForm.password.errors?.required">
                Name is required.
              </div>
            </div>
  
            <div class="container">
              <label for="inputEmail3">Email</label>
              <input placeholder="email" class="form-control" type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted && myForm.email.errors }" >

              <div class="invalid-feedback" *ngIf="submitted && myForm.email.errors?.required">
                Enter your email.
              </div>
              <div class="invalid-feedback" *ngIf="submitted && myForm.email.errors?.pattern">
                Enter valid email.
              </div>
            </div>
            <div class="container" align="center">
              <button class="btn btn-success btn-lg btn-block" type="submit" (click)='register()'>Register</button>
              <a [routerLink]="['/auth/login']">Already a user? Login</a>
            </div>
          </form>
  
        </div>
      </div>
    </body>
  </div>
  